button{
  background-color: $blue;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 250px;
  padding: 16px;
  border: 0;
  border-radius: 25px;
  outline: 0;
  &.inverted{
    background-color: white;
    color: $blue;
    border: 2px solid $blue;
  }
  &:hover{
    opacity: 1 !important;
    span{
      transition: opacity 0.2s;
      opacity: 0.7;
    }
  }
}
