body{
  font-family: 'Gotham';
  -webkit-font-smoothing: antialiased;
  color: $darkest-gray;
  background: white;
  margin-top: 55px;
}

h1{
  font-size: 48px;
  font-weight: 600;
  line-height: 30px;
  @media(max-width: $screen-sm-max){
    font-size: 32px;
  }
  @media(max-width: $screen-xs-max){
    word-wrap: break-word;
  }
}

h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  @media(max-width: $screen-xs-max){
    word-wrap: break-word;
  }
  &.intro{
    padding-top: 43px;
    border-top: 3px solid $darkest-gray;
    font-size: 24px;
    @media(max-width: $screen-sm-max){
      font-size: 18px;
      padding-top: 23px;
    }
  }
}

p, ul{
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
  &.intro{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 40px;
    border-top: 3px solid $darkest-gray;
    @media(max-width: $screen-sm-max){
      font-size: 18px;
      padding-top: 20px;
    }
  }
  a{
    @extend .pointer-blue;
  }
}

ul{
  padding-left: 20px;
  li{
    padding-left: 15px;
  }
}

a:not(.button){
  color: $blue;
  @extend .pointer;
}

.general-link-arrow{
  margin-bottom: 2px !important;
  margin-right: 10px;
}

.ask-us, .call-us{
  @extend .pointer;
}

.row-eq-height {
  display: flex;
  @media(max-width: $screen-sm-max){
    display: block;
  }
}

.nav>li>a:focus{
  background-color: transparent;
}

a:focus {
  outline: none;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-XLight.eot');
  src: url('../fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-XLight.woff2') format('woff2'),
  url('../fonts/Gotham-XLight.woff') format('woff'),
  url('../fonts/Gotham-XLight.ttf') format('truetype'),
  url('../fonts/Gotham-XLight.svg#Gotham-XLight') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-XLightItalic.eot');
  src: url('../fonts/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-XLightItalic.woff2') format('woff2'),
  url('../fonts/Gotham-XLightItalic.woff') format('woff'),
  url('../fonts/Gotham-XLightItalic.ttf') format('truetype'),
  url('../fonts/Gotham-XLightItalic.svg#Gotham-XLightItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Light.woff2') format('woff2'),
  url('../fonts/Gotham-Light.woff') format('woff'),
  url('../fonts/Gotham-Light.ttf') format('truetype'),
  url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-LightItalic.eot');
  src: url('../fonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-LightItalic.woff2') format('woff2'),
  url('../fonts/Gotham-LightItalic.woff') format('woff'),
  url('../fonts/Gotham-LightItalic.ttf') format('truetype'),
  url('../fonts/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Book.woff2') format('woff2'),
  url('../fonts/Gotham-Book.woff') format('woff'),
  url('../fonts/Gotham-Book.ttf') format('truetype'),
  url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BookItalic.eot');
  src: url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
  url('../fonts/Gotham-BookItalic.woff') format('woff'),
  url('../fonts/Gotham-BookItalic.ttf') format('truetype'),
  url('../fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Medium.woff2') format('woff2'),
  url('../fonts/Gotham-Medium.woff') format('woff'),
  url('../fonts/Gotham-Medium.ttf') format('truetype'),
  url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-MediumItalic.eot');
  src: url('../fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-MediumItalic.woff2') format('woff2'),
  url('../fonts/Gotham-MediumItalic.woff') format('woff'),
  url('../fonts/Gotham-MediumItalic.ttf') format('truetype'),
  url('../fonts/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Bold.woff2') format('woff2'),
  url('../fonts/Gotham-Bold.woff') format('woff'),
  url('../fonts/Gotham-Bold.ttf') format('truetype'),
  url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BoldItalic.eot');
  src: url('../fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
  url('../fonts/Gotham-BoldItalic.woff') format('woff'),
  url('../fonts/Gotham-BoldItalic.ttf') format('truetype'),
  url('../fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
