// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$darkest-gray:         #222222;
$dark-gray:            #303030;
$blue:                 #45bccf;
$gray:                 #f7f7ef;
$pink:				   #e8308a;
$purple:			   #90207a;

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pointer {
  cursor: pointer;
  transition: opacity 0.2s;
  &:hover{
    opacity: 0.7;
    text-decoration: none;
  }
}

.pointer-blue {
  cursor: pointer;
  transition: opacity 0.2s;
  &:hover{
    opacity: 0.7;
    text-decoration: none;
    color: $blue;
  }
}
