footer{
  background-color: $darkest-gray;
  padding-top: 70px;
  padding-bottom: 40px;
  box-shadow: 0px 500px 0px 500px $darkest-gray;
  button{
    margin-top: 0;
    @media(max-width: $screen-sm-max){
      margin-top: 20px;
    }
  }
  .row{
    text-align: center;
    &.icons-row{
      margin-top: 80px;
    }
  }
  .icons-row{
    a{
      &:hover{
        opacity: 0.7;
        .social-icon{
          opacity: 0.7;
        }
      }
    }
    .social-icon{
      transition: opacity 0.2s;
      height: 40px;
      opacity: 1;
      &.middle-icon{
        margin-right: 10px;
      }
      &.hbtq{
        height: 160px;
        //195
      }
    }
  }
}
