header{
  background-color: $darkest-gray;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  //height: 55px;
  border: 0 !important;
  #home-private-top{
    background-color: $darkest-gray;
    color: white;
    //height: 70px;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 17px;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    width: 100%;
    p{
      font-size: 14px;
      margin: 0;
      text-transform: none;
      margin-top: 2px;
      line-height: 19px;
      margin-bottom: 0;
      &.large{
        margin-top: 17px;
        text-transform: uppercase;
      }
      a{
        color: white;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
    img{
      position: absolute;
      top: 31px;
      right: 27px;
      @extend .pointer;
      @media(max-width: $screen-sm-max){
        top: 13px;
        right: 17px;
      }
    }
  }
  .desktop-menu{
    display: inline-block;
    text-align: center;
    width: 938px;
    @media(max-width: $screen-md-max){
      width: 738px;
    }
    a{
      color: white;
      font-size: 12px;
    }
    ul.nav li{
      display: inline-block;
      text-align: left;
      &.current_page_item, &.current-page-ancestor{
        a{
          opacity: 0.7;
        }
      }
      a{
        padding: 12px 10px 13px 10px;
        &:hover{
          background-color: transparent;
        }
      }
    }
    .sub-menu{
      display: none;
      position: absolute;
      top: 55px;
      left: 0;
      background-color: $darkest-gray;
      padding-left: 0;
      min-width: calc(100% + 10px);
      padding: 10px 5px 20px 5px;
      li{
        display: block !important;
        padding-left: 0;
        padding-left: 10px;
        padding-right: 10px;
        &.current_page_item{
          a{
            opacity: 0.7 !important;
          }
        }
        a{
          opacity: 1 !important;
          padding: 0;
          white-space: nowrap;
          &:hover{
            opacity: 0.7 !important;
          }
        }
      }
    }
  }
  .text-menu{
    &:hover{
      text-decoration: none;
    }
  }
  .menu-button{
    display: inline-block;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid $dark-gray;
    border-left: 1px solid $dark-gray;
    height: 55px;
    @extend .pointer;
    img{

    }
    @media(max-width: $screen-xs-max){
      padding-left: 0;
      border-left: 0;
    }
  }
  .text-title{
    color: white;
    display: inline-block;
    margin-left: 8px;
    margin-top: 2px;
    vertical-align: middle;
    &.page-name{
      color: #cccccc;
      margin-left: 4px;
    }
  }
  .navbar-brand{
    position: relative;
    padding: 0;
    padding-left: 15px;
    img{
      margin-top: 9px;
      height: 36px;
      z-index: 99;
      position: relative;
    }
    @media(max-width: $screen-sm-max){
      position: absolute;
      bottom: 5px;
      left: calc(50vw - 50px);
      padding-left: 0;
    }
  }
  .right-header-icons{
    position: relative;
    float: right;
    @media(max-width: $screen-xs-max){
      margin-right: -15px;
    }
    .right-header-icon{
        width: 55px;
        height: 55px;
        display: inline-block;
        text-align: center;
        //margin-top: -1px;
        border-left: 1px solid $dark-gray;
        vertical-align: top;
        img{
          padding: 15px;
          padding-top: 18px;
        }
      &.last-top{
        margin-top: 0;
        margin-right: -1px;
        margin-left: -3px;
        border-right: 1px solid $dark-gray;
        img{
          padding-top: 17px;
        }
      }
      &.hanging{
        position: absolute;
        width: 110px;
        top: 55px;
        right: 0;
        border: 0;
        margin-top: 0;
        background-color: $pink;
        padding-top: 14px;
        color: white;
        text-align: center;
        font-size: 11px;
        line-height: 13px;
        padding-bottom: 10px;
        height: auto;
        &:hover{
          text-decoration: none;
          opacity: 1;
          span, img{
            opacity: 0.7;
            transition: opacity 0.2s;
          }
        }
        img{
          display: block;
          margin: 0 auto;
          margin-top: 4px;
          padding: 0;
        }
      }
    }
  }
}

#primary-menu{
  z-index: 1060;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border: 0;
  width: 500px !important;
  @media(max-width: $screen-xs-max){
    width: auto !important;
    padding-right: 30px;
  }
  .close-button{
    margin-top: 30px;
    padding-left: 30px;
    display: block;
    margin-bottom: 20px;
  }
  ul{
    list-style-type: none;
    margin-top: 5px;
    li{
      &.current_page_item{
        a{
          opacity: 0.7;
        }
      }
      font-size: 14px;
      a{
        color: white;
        display: inline-block;
        line-height: 13px;
        margin-bottom: 11px;
      }
    }
    &.sub-menu{
      margin-top: -10px;
      margin-bottom: 24px;
      li{
        font-size: 12px;
        margin-bottom: 3px;
        &.current_page_item{
          a{
            opacity: 0.7;
          }
        }
        a{
          opacity: 1;
          line-height: 13px;
          display: inline-block;
          &:hover{
            opacity: 0.7 !important;
          }
        }
      }
    }
  }
}

#black-overlay{
  display: none;
  background: #000;
  opacity: 0.8;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 1030;
  top: 0;
  right: 0;
}


