//home

#home-top, #adult-home-top{
  padding-top: 55px;
  @media(max-width: $screen-md-max){
    padding-top: 0;
  }
  @media(max-width: $screen-sm-max){
    padding-top: 70px;
  }
  padding-bottom: 50px;
  .text-container{
  //   position: relative;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   @media(max-width: $screen-sm-max){
  //     position: relative;
  //     top: auto;
  //     transform: none;
  //   }
  }
  .carousel-container{
    //height: 400px;
    overflow: hidden;
  }
  .carousel-fade {
    text-align: center;
    @media(max-width: $screen-md-max){
      margin-top: 61px;
    }
    @media(max-width: $screen-sm-max){
      margin-top: auto;
    }
    .carousel-inner {
      .item {
        transition-property: opacity;
        //height: 400px;
        div{
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }
      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }
      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
  }
  h1{
    line-height: 42px;
    margin-bottom: 30px;
  }
  h2{
    margin-top: 105px;
    margin-bottom: 30px;
    @media(max-width: $screen-sm-max){
      margin-top: 13px;
    }
  }
  img{
    margin-bottom: 65px;
    &.arrow{
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
  button{
    &.inverted{
      line-height: 17px;
    }
  }
}

#adult-home-top{
  .full-height-gray{
    //background-color: $gray;
  }
  padding-top: 67px !important;
  @media(max-width: $screen-sm-max){
    padding-top: 70px !important;
  }
  padding-bottom: 70px;
  img{
    margin-bottom: 0;
  }
  h1{
    margin-top: 0;
    @media(max-width: $screen-sm-max){
      line-height: 32px;
    }
  }
  p{
    border: 0;
    margin-bottom: 0;
    @media(max-width: $screen-sm-max){
      margin-bottom: 40px;
    }
    &.intro{
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      padding-top: 40px;
      border-top: 3px solid #222;
      margin-bottom: 30px;
      @media(max-width: $screen-sm-max){
        font-size: 24px;
      }
    }
  }
  .carousel-container{
    padding: 0;
    img{
      margin: 0 auto;
      width: 720px;
      height: auto;
    }
  }
  .carousel-fade {
    @media(max-width: $screen-md-max){
      margin-top: 0;
    }
    .carousel-inner {
      background-color: $gray;
      height: 575px;
      @media(max-width: $screen-md-max){
       height: 545px;
      }
      @media(max-width: $screen-sm-max){
       height: auto;
      }
      .item {
        padding: 15px;
        transition-property: opacity;
        height: 540px;
        @media(max-width: $screen-md-max){
          height: auto;
        }
        @media(max-width: $screen-sm-max){
          height: auto;
        }
        @media(max-width: $screen-xs-max){
          padding: 0;
        }
        .video-link{
          cursor: pointer;
        }
        .text-container-outer{
          height: 180px;
          position: relative;
          top: auto;
          transform: none;
          @media(max-width: $screen-md-max){
            height: 250px;
          }
          @media(max-width: $screen-sm-max){
            height: auto;
          }
          .text-container-inner{
            text-align: left;
            position: relative;
            top: auto;
            transform: none;
            @media(max-width: $screen-xs-max){
              padding: 0 15px;
            }
          }
        }
        h2{
          margin-top: 17px;
          margin-bottom: 5px;
          @media(max-width: $screen-sm-max){
            margin-top: 17px;
          }
        }
        p{
          overflow: hidden;
        }
        @media(max-width: $screen-sm-max){
          overflow: hidden;
          iframe{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .chevron-container{
    text-align: left;
    margin-left: 15px;
    position: absolute;
    bottom: 11px;
    left: 0;
    a{
      color: black;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .carousel-indicators{
    background-color: $gray;
    bottom: -5px;

    li{
      border-color: #dddddd;
      margin: 0 2px;
      &.active{
        margin-bottom: -1px;
        background-color: #dddddd;
      }
    }
  }
}

//linkbar, news-bar

#link-bar, #news-bar{
  background-color: $blue;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 66px 0;
  text-align: center;
  @media(max-width: $screen-sm-max){
    padding: 30px 0;
  }
  .link-bar-icon{
    display: block;
    width: 70px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  a{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    &:hover{
      text-decoration: none;
      opacity: 1;
      img{
        opacity: 1;
      }
      span{
        opacity: 0.7;
        transition: opacity 0.2s;
      }
    }
    @media(max-width: $screen-sm-max){
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
#news-bar{
  h2{
    text-align: left;
    text-transform: none;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
  }
  p{
    font-weight: 400;
    text-transform: none;
    text-align: left;
    margin-bottom: 20px;
    &.title{
      a{
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  a{
    text-decoration: underline;
    &:hover{
      opacity: 0.7;
      text-decoration: underline;
    }
  }
  .first-news{
    @media(max-width: $screen-sm-max){
      margin-bottom: 10px;
    }
  }
}

//imagetop

#image-top{
  padding-top: 60px;
  padding-bottom: 85px;
  h1{
    margin-bottom: 23px;
    line-height: 48px;
    margin-top: 7px;
    @media(max-width: $screen-sm-max){
      margin-bottom: 10px;
      line-height: 32px;
    }
  }
  .col-md-8{
    text-align: center;
    @media(max-width: $screen-md-max){
      padding-top: 60px;
    }
    @media(max-width: $screen-sm-max){
      padding-top: 20px;
    }
    img{
      @media(max-width: $screen-sm-max){
        width: 80%;
      }
      @media(max-width: $screen-xs-max){
        width: 100%;
      }
    }
  }
  .image-container{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    @media(max-width: $screen-sm-max){
      position: relative;
      height: auto;
    }
    img{
      width: 100%;
      max-width: 750px;
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      display: block;
      @media(max-width: $screen-sm-max){
        top: auto;
        transform: none;
      }
    }
  }
}

//linkblocks

#link-blocks{
  padding-bottom: 50px;
  margin-top: -55px;
  @media(max-width: $screen-xs-max){
    margin-top: -25px;
  }
  h3{
    font-size: 16px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: 400;
    @media(max-width: $screen-sm-max){
      font-size: 16px;
    }
  }
  .link-arrow{
    margin-right: 15px;
  }
}


//no imagetop

#no-image-top{
  padding-top: 60px;
  padding-bottom: 50px;
  @media(max-width: $screen-sm-max){
    padding-bottom: 20px;
  }
  h1{
    margin-top: 7px;
    margin-bottom: 23px;
    line-height: 48px;
    @media(max-width: $screen-sm-max){
      margin-bottom: 10px;
      line-height: 32px;
    }
  }
  .title-underline{
    border-bottom: 3px solid $darkest-gray;
    max-width: 380px;
    text-align: left;
  }
  p{
    border: 0;
    &.intro{
      font-size: 37px;
      font-weight: 300;
      line-height: 42px;
      @media(max-width: $screen-sm-max){
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}

//text-blocks

#text-blocks{
  .text-block{
    padding-top: 55px;
    padding-bottom: 30px;
    &.blue{
      background-color: $blue;
      color: white;
      a{
        color: white;
        text-decoration: underline;
      }
    }
    &.gray{
      background-color: $gray;
    }
    h2{
      span{
        position: absolute;
        top: -90px;
      }
    }
  }
  article{
    margin-bottom: 50px;
  }
  header{
    background-color: transparent;
    color: black;
    margin-bottom: 10px;
    h1, h2, h3, time{
      text-transform: none;
      position: relative;
    }
    h1{
      line-height: 48px;
      margin-bottom: 23px;
    }
    time{
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
    a{
      color: black;
    }
  }
  .title-underline{
    &.top-margin{
      margin-top: 40px;
    }
    border-bottom: 3px solid $darkest-gray;
    max-width: 380px;
    text-align: left;
    margin-bottom: 40px;
  }
  .post-nav{
    font-weight: 600;
    font-size: 12px;
    a{
      color: black;
      text-transform: uppercase;
    }
    &.next-posts{
    }
    &.prev-posts{
      margin-right: 25px;
    }
    &.all-posts{
      margin-right: 25px;
      margin-bottom: 50px;
      display: inline-block;
    }
  }
}

.news-navigation{
  padding-top: 20px;
  padding-bottom: 50px;
  //border-top: 1px solid $blue;
  background-color: $gray;
  &.gray{
    background-color: white;
  }
  .nav-links{
    a{
      text-transform: uppercase;
      color: black;
      font-weight: 600;
      font-size: 12px;
    }
    div{
      display: inline-block;
      &.nav-previous{
        margin-right: 25px;
      }
    }
  }
}

//splash-block

#splash{
  padding-top: 55px;
  padding-bottom: 30px;
  background-color: white;
  text-align: center;
  &.blue{
    background-color: $blue;
    color: white;
    a{
      color: white;
      text-decoration: underline;
    }
  }
  &.gray{
    background-color: $gray;
  }
  p{
    font-size: 16px;
  }
  .heart{
    margin-left: -200px;
    padding-left: 15px;
  }
  hr{
    margin-bottom: 40px;
  }
}

//faq-blocks

#faq-blocks{
  padding-bottom: 100px;
  h2{
    font-size: 37px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 40px;
    margin-top: 60px;
    @media(max-width: $screen-sm-max){
      font-size: 30px;
      margin-bottom: 20px;
      margin-top: 45px;
    }
  }
  h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    padding-bottom: 15px;
    border-bottom: 3px solid $darkest-gray;
    position: relative;
    span{
      position: absolute;
      top: -90px;
    }
    @extend .pointer;
    @media(max-width: $screen-sm-max){
      font-size: 20px;
    }
  }
  p{
    margin-bottom: 0;
  }
}
#faq-filter{
  margin-top: -25px;
  input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    box-shadow: none !important;
    outline: none;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 50px;
    width: 100%;
    border-radius: 25px;
    padding: 0 20px;
  }
  span{
    margin-right: 15px;
    font-size: 28px;
    font-weight: 300;
    @media(max-width: $screen-sm-max){
      font-size: 22px;
    }
  }
}

//dark-popup

#dark-popup{
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow-y: auto;
  .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    @media(max-width: $screen-xs-max){
      top: auto;
      transform: none;
      padding: 30px;
    }
    .inner-content{
      display: inline-block;
      text-align: left;
      max-width: 410px;
      a{
        color: $blue;
      }
      h2{
        margin-top: 50px;
        font-size: 48px;
        @media(max-width: $screen-xs-max){
          font-size: 32px;
          margin-top: 25px;
        }
      }
      hr{
        border-bottom: 3px solid white;
        margin-bottom: 45px;
        margin-top: 30px;
        @media(max-width: $screen-xs-max){
          margin-bottom: 23px;
          margin-top: 15px;
        }
      }
      p{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
        &.popup-large{
          font-size: 24px;
          font-weight: 600;
          line-height: 29px;
          margin-bottom: 5px;
        }
        &.popup-larger{
          font-size: 37px;
          font-weight: 400;
          line-height: 38px;
          @media(max-width: $screen-xs-max){
            font-size: 24px;
            line-height: 30px;
          }
        }
      }
      #dark-popup-close{
        cursor: pointer;
      }
      .ask-us-content, .call-us-content{
        display: none;
      }
    }
  }
}



